<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="spheroCtrl">
    <div style="width: 1100px; margin: auto; margin-top:120px;">
        <div id="messageBox" class="panel panel-primary" style="width: 300px; float: left; margin-right: 150px; height: 400px; overflow-y: auto;">
            <div class="panel-heading">Response Message</div>
            <div class="panel-body">
                <ol>
                    <li ng-repeat="msg in message track by $index">{{msg}}</li>
                </ol>
            </div>
        </div>
        <div style="float: left;">
            <button ng-click="connectBtn()" type="button" style="display: block; margin: 0 auto; width: 150px; height: 150px; margin-top: 0px; border-radius: 80px;" class="btn btn-success">{{connect}}</button>
            <button ng-click="makeTwink()" type="button" style="display: block; margin: 0 auto; width: 150px; height: 150px; margin-top: 100px; border-radius: 80px;" class="btn btn-success">TWINK</button>
        </div>
        <div style="float: right;">
            <button ng-click="send('forward')" type="button" style="display: block; margin: 0 auto; width: 80px; height: 80px;" class="btn btn-danger">UP</button>
            <button ng-click="send('left')" type="button" style="display: block; width: 80px; height: 80px; margin-top: 60px; margin-right: 20px; float: left;" class="btn btn-danger">LEFT</button>
            <button ng-click="send('right')" type="button" style="display: block; width: 80px; height: 80px; margin-top: 60px; margin-left: 20px; float: right;" class="btn btn-danger">RIGHT</button>
            <button ng-click="power()" type="button" style="display: block; width: 160px; height: 160px; margin-top: 20px;" class="btn btn-primary">POWER UP</button>
            <button ng-click="send('backward')" type="button" style="display: block; margin: 0 auto; width: 80px; height: 80px; margin-top: 20px;" class="btn btn-danger">DOWN</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script>
    <script src="app/app.js"></script>
</body>
</html>